*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     background-color: green;
     flex-wrap: wrap;
}

header{
   display: flex;
   justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    background-color: whitesmoke;
}

header nav div div ul {
    color: rgb(231, 9, 9);
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 1.4rem;
}

main{

    color: whitesmoke;
   text-align: center;
}


.contenedor{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 50vh;
    
}
main h1{
    color: red;
    text-align: center;
    padding-top: 30px;
}

main h2{
    color: red;
    text-decoration: underline;
    padding: 50px 0 50px 50px;

}

.video{

    padding: 50px 50px 50px 50px;
}

footer{
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: white;
   font-size: 1.3rem;
   padding: 70px;
   margin-top: 50px;
   background-color: rgb(34, 33, 33);
}

footer nav ul {
    list-style: none;
    text-decoration: none;
}

main section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 100px;
}

.candy{
        display: grid;
        grid-template-columns:repeat(2, 2fr) ;
        grid-template-rows: repeat(6, 2fr);
        margin:50px;
        text-align: center;
}



.store{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:1fr ;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding: 50px;


}

.nosotros{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    gap: 25px;
padding: 100px;

}

@media screen and (min-width:600px) {

body{
    background-color: blueviolet;
}

header{
    flex-direction: column;
}
   main section{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,50%);  
}

.candy{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 6fr);


}
footer{
    margin-bottom: 2rem;
}
main section .imag-10, .imag-11, .imag-12, .imag-13, .imag-14, .imag-15, .img1, .img2

{display: none;}
}


@media screen and (min-width:1024px){

    body{
        background-color: black;
    }

    header{
        flex-direction: row;
    }
    main section .imag-10, .imag-11, .imag-12, .imag-13, .imag-14, .imag-15, .img1, .img2{
        display: block;
    }

    main section{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 4fr;
        gap: 10px;
     align-items: center;
        min-height: 100vh;
        margin: 100px;
    }

}